<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ControlDataGrid:ExportExcelScratchDisk" value="/ScratchDisk"/>
    <add key="FileManager:AllowFolderDownload" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="configdb" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Corkscrew_ConfigDB;User Id=CorkscrewUser;Password=JuS7@C0mpl1cat3dP@ssW)rd;Connect Timeout=15;Pooling=true;"/>
    <add name="sitedb" providerName="System.Data.SqlClient" connectionString="Data Source=$(DBServer);Initial Catalog=$(DBName);User Id=CorkscrewUser;Password=JuS7@C0mpl1cat3dP@ssW)rd;Connect Timeout=15;Pooling=true;"/>
  </connectionStrings>
</configuration>
