<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="configdb" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Corkscrew_ConfigDB;User Id=CorkscrewUser;Password=JuS7@C0mpl1cat3dP@ssW)rd;Connect Timeout=15;Pooling=true;"/>
    <add name="sitedb" providerName="System.Data.SqlClient" connectionString="Data Source=$(DBServer);Initial Catalog=$(DBName);User Id=CorkscrewUser;Password=JuS7@C0mpl1cat3dP@ssW)rd;Connect Timeout=15;Pooling=true;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CMSServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Corkscrew.API.services.Authenticate" behaviorConfiguration="CMSServiceBehavior"/>
      <service name="Corkscrew.API.services.Farm" behaviorConfiguration="CMSServiceBehavior"/>/&gt;
      <service name="Corkscrew.API.services.Site" behaviorConfiguration="CMSServiceBehavior"/>/&gt;
      <service name="Corkscrew.API.services.Workflows" behaviorConfiguration="CMSServiceBehavior"/>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>