<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="configdb" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:azaossql02.database.windows.net,1433;Initial Catalog=Corkscrew_ConfigDB;User Id=CorkscrewUser;Password=Fu1l5h08!;Connect Timeout=15;Persist Security Info=true;Pooling=true;"/>
    <add name="sitedb" providerName="System.Data.SqlClient" connectionString="Data Source=$(DBServer);Initial Catalog=$(DBName);User Id=CorkscrewUser;Password=Fu1l5h08!;Connect Timeout=15;Persist Security Info=true;Pooling=true;"/>
  </connectionStrings>
</configuration>
